@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.Input {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mq {
    margin-left: 8px;
    margin-right: 8px;
  }

  input {
    height: 50px;
    width: 500px;
    padding: 10px 10px 10px 15px;
    border-bottom-left-radius: $gutter;
    border-top-left-radius: $gutter;
    border: 2px solid $color-yellow;
    color: $color-primary;
    font-weight: $font-semibold;

    &::placeholder {
      color: $color-primary;
      font-weight: $font-semibold;
      opacity: 0.8;
    }
  }

  button {
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: $gutter;
    border-top-right-radius: $gutter;
    background-color: $color-yellow;
    color: $color-primary;
    font-weight: $font-semibold;
  }
}
