// font
$font-family: 'Dosis', sans-serif;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;

//size
$size-icon: 24px;
$size-todo-title: 18px;

// color
$color-primary: #5d3ebc;
$color-yellow: #ffd300;
$color-red: #ac0808;
$color-green: #08ac60;

// radius
$gutter: 6px;
