@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.Title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 64px;
  padding-bottom: 32px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: $font-bold;
    color: $color-yellow;
  }

  h1 {
    font-size: 48px;

    @include mq {
      font-size: 36px;
    }
  }
}
