@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.Todo {
  height: 150px;
  width: 300px;
  background-color: white;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: $gutter;
  margin: 20px;

  @include mq('desktop') {
    width: calc(50% - 40px);
  }
  @include mq {
    width: 100%;
  }

  &.completed {
    background-color: rgba($color: $color-green, $alpha: 0.7);
  }

  &-info {
    color: $color-primary;
    font-weight: $font-semibold;
    font-size: $size-todo-title;
    overflow-y: auto;
    flex: 1;

    .editInput {
      height: 100%;
      width: 100%;
      border: 0;
      resize: none;
      color: $color-yellow;
      font-weight: $font-bold;
      border-radius: $gutter;
      padding: $gutter;

      &:focus {
        outline: none;
      }
    }
  }

  &-icons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 8px;

    .icon {
      height: $size-icon;
      width: $size-icon;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.2);
      }
    }

    button {
      background-color: transparent;
    }

    &-closeIcon {
      fill: $color-red;
    }
    &-completedIcon {
      fill: $color-green;
    }
    &-notCompletedIcon {
      fill: $color-primary;
    }
  }
}

.editMode {
  .Todo-info {
    overflow-y: hidden;
  }
}
